.features
	display block
	padding-bottom 60px
	&__in
		@extends .in
		text-align center
	&__w
		position relative
		margin-right 36px
		display inline-block
		vertical-align top
		color #115AA5
		text-align center
		&:before
			position absolute
			content ""
			top 0
			left -92px
			svgSize($diagnostics-icon)
			background url('../images/diagnostics-icon.svg') 0 0 no-repeat
		+below(760px)
			margin-right 0
			display block
			&:before
				display none
	&__title
		font-size 36px
		+below(760px)
			font-size 30px
		+below(500px)
			font-size 25px

	&__note
		font-size 16px
	&__button
		margin-top 16px
		margin-right -92px
		+below(760px)
			margin-right 0

