mixin features()
	.features
		.features__in
			.features__w
				h2.features__title Бесплатная диагностика
				p.features__note * при заказе ремонта или ТО
			a.features__button.button(href="#questions") вызвать мастера

mixin features-second()
	.features
		.features__in
			.features__w
				h2.features__title Бесплатная установка и доставка запчастей
				p.features__note * при заказе ремонта или ТО
			a.features__button.button(href="#questions") вызвать мастера

mixin features-third()
	.features
		.features__in
			.features__w
				h2.features__title Бесплатное обучение работе с оборудованием

				p.features__note * при заказе ремонта или ТО
			a.features__button.button(href="#questions") вызвать мастера

