mixin hero()
	+b('section').hero&attributes(attributes)
		.hero__in
			.slider
				.slider__item
					.hero__w
						h1.hero__title Оборудование пищеблока
						ul.hero__services
							li.hero__item Ремонт
							li.hero__item монтаж
							li.hero__item техобслуживание
							li.hero__item запчасти
						.hero__call.call
							p.call__text Выезд мастера по Сочи <span>Бесплатно*</span>
							a.call__button.button(href="#questions") вызвать мастера
						p.hero__note * Центральному району Сочи. Не распространяется на предприятия торговли (магазины), мобильные точки питания и точки питания, расположенные на пляже
					.hero__img

				.slider__item
					.hero__w
						h1.hero__title Оборудование пищеблока
						ul.hero__services
							li.hero__item Ремонт
							li.hero__item монтаж
							li.hero__item техобслуживание
							li.hero__item запчасти
						.hero__call.call
							p.call__text Выезд мастера по Сочи <span>Бесплатно*</span>
							a.call__button.button(href="#questions") вызвать мастера
						p.hero__note * Центральному району Сочи. Не распространяется на предприятия торговли (магазины), мобильные точки питания и точки питания, расположенные на пляже
					.hero__img
