.questions
	min-height remify(900px)
	display block
	background #005ab7 url('../images/questions.svg') 50% 100% no-repeat
	&__in
		@extends .in
		padding-top 75px
		padding-bottom 316px
		color #FFF
	&__title
		font-size 48px
		text-align center
	&__text
		margin-bottom 60px
		font-size 24px
		text-align center
