.page
	font-family $ptS
	font-weight normal
	font-size 14px
	line-height 1.4
	color #626262
.in
	margin auto
	padding-right 15px
	padding-left 15px
	width 1170px

.in_second
	margin auto
	padding-right 30px
	padding-left 30px
	max-width 1920px


.button
	padding-top 16px
	padding-bottom 14px
	padding-left 48px
	padding-right 48px
	display inline-block
	vertical-align top
	box-shadow 0 2px 10px rgba(0, 0, 0, 0.25)
	background-color #ec681f
	color #FFF
	border-radius 24px
	text-decoration none
	transition background-color .3s ease
	&:hover
		background-color darken(#ec681f, 5)


.title
	position relative
	font-size 24px
	color #7898B5
	text-align center
	&:after
		position absolute
		top 24px
		content ""
		width 100%
		height 1px
		background #dddddd
	&:after
		left 0

	span
		position relative
		z-index 1
		padding-right 10px
		padding-left 10px
		display inline-block
		vertical-align top
		background #fff

