@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/hinted-subset-PTSans-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'), local('PTSans-Regular'),
		url('../fonts/hinted-subset-PTSans-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FreeSetC';
	src: local('PT FreeSet Cyrillic'), local('FreeSetC'),
		url('../fonts/hinted-subset-FreeSetC.woff2') format('woff2'),
		url('../fonts/hinted-subset-FreeSetC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FreeSetC';
	src: local('PT FreeSet Bold Cyrillic'), local('FreeSetC-Bold'),
		url('../fonts/hinted-subset-FreeSetC-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-FreeSetC-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


$ptS = 'PT Sans', Helvetica, Arial, sans-serif
$fSet = 'FreeSetC', Helvetica, Arial, sans-serif


