extends /blocks/layout-default/layout-default

include /blocks/icon/icon
include /blocks/header/header
include /blocks/hero/hero
include /blocks/types/types
include /blocks/features/features
include /blocks/manufacturer/manufacturer
include /blocks/services/services
include /blocks/objects/objects
include /blocks/guarantee/guarantee
include /blocks/questions/questions

include /blocks/footer/footer



block head
	- var pageTitle = 'Index page';

block content
	+header()
	+hero()
	+types()#types
	+features()
	+manufacturer()
	+services()
	+features-second()
	+objects()
	+features-third()
	+guarantee()
	+questions()

	+footer()

