extends /blocks/layout-default/layout-default

include /blocks/icon/icon
include /blocks/header/header
include /blocks/hero/hero
include /blocks/types/types
include /blocks/features/features
include /blocks/manufacturer/manufacturer
//- include /blocks/header/header
//- include /blocks/header/header
//- include /blocks/header/header
include /blocks/footer/footer



block head
	- var pageTitle = 'Index page';

block content
	+header()
	+hero()
	+types()
	+features()
	+manufacturer()

	+footer()

