mixin types()
	+b('section').types&attributes(attributes)
		.types__in
			h2.types__title.title <span>Виды оборудования</span>
			.types__w
				.types__type.types__type_thermal
					h3.types__type-title Тепловое
					ul.types__list
						li.types__item <span>&raquo;</span> Пароконвектоматы
						li.types__item <span>&raquo;</span> Водонагреватели
						li.types__item <span>&raquo;</span> Грили: лавовые и контактные
						li.types__item <span>&raquo;</span> Жарочные шкафы
						li.types__item <span>&raquo;</span> Коптильни
						li.types__item <span>&raquo;</span> Котлы электрические
						li.types__item <span>&raquo;</span> Плиты электрические
						li.types__item <span>&raquo;</span> Сковороды электрические
						li.types__item <span>&raquo;</span> Мармиты первых и вторых блюд
						li.types__item <span>&raquo;</span> Макароноварки и рисоварки
						li.types__item <span>&raquo;</span> Фритюрницы
						li.types__item <span>&raquo;</span> Запчасти
				.types__type.types__type_refrigeration
					h3.types__type-title Холодильное
					ul.types__list
						li.types__item <span>&raquo;</span> Камеры холодильные
						li.types__item <span>&raquo;</span> Среднетемпературные
						li.types__item <span>&raquo;</span> Камеры холодильные
						li.types__item <span>&raquo;</span> Низкотемпературные моноблоки и сплит-системы для камер
						li.types__item <span>&raquo;</span> Ледогенераторы
						li.types__item <span>&raquo;</span> Лари
						li.types__item <span>&raquo;</span> Столы с охлаждаемым объемом
						li.types__item <span>&raquo;</span> Шкафы холодильные
						li.types__item <span>&raquo;</span> Витрины холодильные
						li.types__item <span>&raquo;</span> Запчасти
				.types__type.types__type_bakery
					h3.types__type-title Хлебопекарное и кондитерское
					ul.types__list
						li.types__item <span>&raquo;</span> Тестомесы
						li.types__item <span>&raquo;</span> Тестораскатки
						li.types__item <span>&raquo;</span> Тестоделители и тестоокруглители
						li.types__item <span>&raquo;</span> Мукопросеиватели
						li.types__item <span>&raquo;</span> Печи ротационные электрические
						li.types__item <span>&raquo;</span> Расстоечные шкафы
						li.types__item <span>&raquo;</span> Прессы
						li.types__item <span>&raquo;</span> Запчасти
				.types__type.types__type_electro
					h3.types__type-title Электромеханическое
					ul.types__list
						li.types__item <span>&raquo;</span> Мясорубки
						li.types__item <span>&raquo;</span> Слайсеры
						li.types__item <span>&raquo;</span> Овощемойки
						li.types__item <span>&raquo;</span> Овощерезки
						li.types__item <span>&raquo;</span> Овощечистки
						li.types__item <span>&raquo;</span> УКМ-универсальные кухонные машины
						li.types__item <span>&raquo;</span> Пилы для мяса
						li.types__item <span>&raquo;</span> Запчасти
				.types__type.types__type_washer
					h3.types__type-title Посудомоечные машины
					ul.types__list
						li.types__item <span>&raquo;</span> Купольные машины
						li.types__item <span>&raquo;</span> Фронтальные машины
						li.types__item <span>&raquo;</span> Конвейерные машины
						li.types__item <span>&raquo;</span> Запчасти
