.types
	display block
	&__in
		@extends .in
		padding-top 53px
		padding-bottom 8px
	&__title
		@extends .title
		margin-bottom 48px
	&__w
		font-size 0
		clearfix()
	&__type
		position relative
		margin-right ratio-percentage(30,1140)
		margin-bottom 74px
		padding-top 90px
		display inline-block
		vertical-align top
		width ratio-percentage(360,1140)
		&:nth-child(3n)
			margin-right 0
		+below(700px)
			margin-right 0
			width 50%
		+below(500px)
			width 100%


		&:after
			position absolute
			content ""
			top 0
			left 0
	&__type_thermal
		&:after
			sprite($type_1)
	&__type_refrigeration
		&:after
			svgSize($type-2)
			background url('../images/type-2.svg') 0 0 no-repeat
	&__type_bakery
		&:after
			sprite($type_3)
	&__type_electro
		&:after
			svgSize($type-4)
			background url('../images/type-4.svg') 0 0 no-repeat
	&__type_washer
		&:after
			svgSize($type-5)
			background url('../images/type-5.svg') 0 0 no-repeat
	&__type-title
		margin-bottom 6px
		font-size 18px
		font-weight bold
	// &__list
	&__item
		position relative
		margin-bottom 3px
		font-size 14px
		&:before
			position absolute
			top 0
			left 0
			content ''

