mixin services()
	.services#services
		.services__in
			h2.objects__title.title <span>Услуги и цены</span>

		ul.services__list
			li.services__item.services__item_1
				.services__w
					h2.services__title Ремонт
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
			li.services__item.services__item_2
				.services__w
					h2.services__title Монтаж
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
			li.services__item.services__item_3
				.services__w
					h2.services__title Техобслуживание

					ul.types__list
						li.types__item
							span »
							|  Технический уход
						li.types__item
							span »
							|  Наблюдение за состоянием
						li.types__item
							span »
							|  Выполнение правил технической эксплуатации и безопасности
						li.types__item
							span »
							|  Проверка оборудования внешним осмотром
						li.types__item
							span »
							|  Проверка комплектности оборудования
						li.types__item
							span »
							|  Осмотр электроаппаратуры, приборов автоматики
						li.types__item
							span »
							|  Регулировка работы оборудования и его составных частей
						li.types__item
							span »
							|  Выполнение мелкого ремонта
						li.types__item
							span »
							|  Консультирование персонала по уходу и эксплуатации
						li.types__item
							span »
							|  Прочие виды работ по обслуживанию оборудования
					.services__price
						| от
						span 5000 Р


			li.services__item.services__item_4
				.services__w
					h2.services__title Запчасти
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
