mixin services()
	.services
		.services__in
			ul.services__list
				li.services__item
					h2.services__title ремонт
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от 5001
				li.services__item
					h2.services__title Монтаж
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от 5002
				li.services__item
					h2.services__title Техобслуживание
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от 5003
				li.services__item
					h2.services__title Запчасти
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от 5004
