mixin services()
	.services#services
		.services__in
			h2.objects__title.title <span>Услуги и цены</span>

		ul.services__list
			li.services__item.services__item_1
				.services__w
					h2.services__title Ремонт
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
			li.services__item.services__item_2
				.services__w
					h2.services__title Монтаж
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
			li.services__item.services__item_3
				.services__w
					h2.services__title Техобслуживание
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
			li.services__item.services__item_4
				.services__w
					h2.services__title Запчасти
					p.services__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
					.services__price от <span>500$</span>
