mixin header()
	+b('header').header&attributes(attributes)
		.header__w
			.header__in
				a.header__logo.logo(href="#top") Avgroup
				.header__right
					button.menu-trigger
						+icon("menu-lines")
						| <span>Меню</span>
					nav.header__nav.nav
						ul.nav__list
							li.nav__item
								a.nav__link(href="#types") Виды оборудования
							li.nav__item
								a.nav__link(href="#services") Услуги и цены
							li.nav__item
								a.nav__link(href="#objects") Объекты
							li.nav__item
								a.nav__link(href="#guarantee") Сервис и гарантии
					.header__location.location Сочи
					a.header__phone(href='tel:+79288463678') +7 (928) 8463678

