mixin header()
	+b('header').header&attributes(attributes)
		.header__in
			a.header__logo.logo(href="/") Avgroup
			.header__right
				nav.header__nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#link-1") Виды оборудования
						li.nav__item
							a.nav__link(href="#link-2") Услуги и цены
						li.nav__item
							a.nav__link(href="#link-3") Объекты
						li.nav__item
							a.nav__link(href="#link-4") Сервис и гарантии
				.header__location.location Сочи
				.header__phone.phone +7 (928) 8463678

