mixin guarantee()
	section.guarantee
		.guarantee__in
			h2.guarantee__title.title Сервис и гарантии
			ul.guarantee__list
				li.guarantee__item
					.guarantee__item-title Срочный выезд специалистов
					p.guarantee__item-text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития. Таким образом укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
				li.guarantee__item
					.guarantee__item-title Гарантия на все виды товаров и услуг
					p.guarantee__item-text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития. Таким образом укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
				li.guarantee__item
					.guarantee__item-title Решение технических проблем любой сложности
					p.guarantee__item-text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития. Таким образом укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
				li.guarantee__item
					.guarantee__item-title Сертифицированные специалисты
					p.guarantee__item-text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития. Таким образом укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
				li.guarantee__item
					.guarantee__item-title Выгодные условия и цены
					p.guarantee__item-text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития. Таким образом укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
