mixin manufacturer()
	.manufacturer
		ul.manufacturer__list
			li.manufacturer__item.manufacturer__item_1
				.manufacturer__brand Electrolux
			li.manufacturer__item.manufacturer__item_2
				.manufacturer__brand Rational
			li.manufacturer__item.manufacturer__item_3
				.manufacturer__brand Abat
			li.manufacturer__item.manufacturer__item_4
				.manufacturer__brand Unox
