.manufacturer
	padding-top 65px
	padding-bottom 65px
	display block
	background-color #ececec
	&__in
		@extends .in
		margin auto
	&__list
		position relative
		padding-left 90px
		padding-right 60px
		font-size 0
		+below(500px)
			padding-left 48px
			padding-right 48px
	&__item
		position relative
		// margin-right 50px
		display inline-block
		vertical-align middle
		min-height 60px
		// &:last-child
		// 	margin-right 0
	&__brand
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		hide-text()
	&__item_1
		.manufacturer__brand
			svgSize($manufacturer-1)
			background url('../images/manufacturer-1.svg') 0 0 no-repeat
	&__item_2
		.manufacturer__brand
			svgSize($manufacturer-2)
			background url('../images/manufacturer-2.svg') 0 0 no-repeat
	&__item_3
		.manufacturer__brand
			svgSize($manufacturer-3)
			background url('../images/manufacturer-3.svg') 0 0 no-repeat
	&__item_4
		.manufacturer__brand
			svgSize($manufacturer-4)
			background url('../images/manufacturer-4.svg') 0 0 no-repeat

	.slick-slide
		min-height 80px
	.slick-arrow
		position absolute
		top 50%
		content ""
		// margin-top -48px
		svgSize($arrow-back)
		hide-text()
	.slick-prev
		left 0
		svgSize($arrow-back)
		background url('../images/arrow-back.svg') 0 0 no-repeat
	.slick-next
		right 0
		svgSize($arrow-next)
		background url('../images/arrow-next.svg') 0 0 no-repeat



