mixin manufacturer()
	.manufacturer
		.manufacturer__in
			.manufacturer__list
				.manufacturer__item.manufacturer__item_1
					.manufacturer__brand Electrolux
				.manufacturer__item.manufacturer__item_2
					.manufacturer__brand Rational
				.manufacturer__item.manufacturer__item_3
					.manufacturer__brand Abat
				.manufacturer__item.manufacturer__item_4
					.manufacturer__brand Unox

				a.manufacturer__list-arrow.manufacturer__list-arrow_back(href="#") Назад
				a.manufacturer__list-arrow.manufacturer__list-arrow_next(href="#") Вперед
