mixin objects()
	.objects
		.objects__in
			h2.objects__title.title Объекты
			ul.objects__list
				li.objects__item
					.objects__img
						img(src="assets/images/content/objects-1.jpg", alt="Название объекта")
					.objects__item-title Название объекта
					p.objects__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
				li.objects__item
					.objects__img
						img(src="assets/images/content/objects-2.jpg", alt="Название объекта")
					.objects__item-title Название объекта
					p.objects__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
				li.objects__item
					.objects__img
						img(src="assets/images/content/objects-3.jpg", alt="Название объекта")
					.objects__item-title Название объекта
					p.objects__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
				li.objects__item
					.objects__img
						img(src="assets/images/content/objects-4.jpg", alt="Название объекта")
					.objects__item-title Название объекта
					p.objects__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
				li.objects__item
					.objects__img
						img(src="assets/images/content/objects-5.jpg", alt="Название объекта")
					.objects__item-title Название объекта
					p.objects__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
				li.objects__item
					.objects__img
						img(src="assets/images/content/objects-6.jpg", alt="Название объекта")
					.objects__item-title Название объекта
					p.objects__text Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития.
